<h1>Card Flip with english words</h1>
    <div class="flip-card" *ngFor="let w of words">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p>{{w.polishWord}}</p>
          <p>{{w.polishSentence}}</p>
        </div>
        <div class="flip-card-back">
          <h1>{{w.englishWord}}</h1>
          <p>{{w.englishSentence}}</p>
          <p>{{w.polishSentence}}</p>
          <p>{{w.englishSentence1}}</p>
          <p>{{w.polishSentence1}}</p>
          <p>{{w.englishSentence2}}</p>
          <p>{{w.polishSentence2}}</p>
        </div>
    </div>
</div>
