<h1>Hello, world!</h1>

<!--<input type="text" [(ngModel)]="name" />
<p>{{name}}</p>-->

<label>Server name</label>
<input class="form-control" type="text" (input)="onUpdateServerName($event)"/>
<input class="form-control" type="text" [(ngModel)]="serverName" />
<p>serverName: {{serverName}}</p>
<br />
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p>allowNewServer: {{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>

<p *ngIf ="serverCreated">serverCreationStatus: {{serverCreationStatus}}</p>

<app-srver *ngFor="let server of servers"></app-srver>





